@font-face {
  font-family: InterBold;
  src: url("../fonts/Inter-Bold.ttf");
}
@font-face {
  font-family: InterLight;
  src: url("../fonts/Inter-Light.ttf");
}
@font-face {
  font-family: InterMedium;
  src: url("../fonts/Inter-Medium.ttf");
}
@font-face {
  font-family: InterSemiBold;
  src: url("../fonts/Inter-SemiBold.ttf");
}

@keyframes fade {
  0% {
      opacity: 0.2;
  }

  100% {
      opacity: 1;
  }
}

:root {
  /* Color styles */
  --blue-1: rgba(231, 243, 253, 1);
  --blue-2: rgba(137, 193, 245, 1);
  --blue-3: rgba(43, 144, 238, 1);
  --blue-4: rgba(13, 92, 165, 1);
  --blue-5: rgba(10, 66, 118, 1);

  --gray-1: rgba(242, 242, 242, 1);
  --gray-2: rgba(191, 191, 191, 1);
  --gray-3: rgba(140, 140, 140, 1);
  --gray-4: rgba(89, 89, 89, 1);
  --gray-5: rgba(64, 64, 64, 1);

  --dark-1: rgba(51, 51, 51, 1);
  --dark-2: rgba(38, 38, 38, 1);
  --dark-3: rgba(26, 26, 26, 1);
  --dark-4: rgba(13, 13, 13, 1);
  --dark-5: rgba(0, 0, 0, 1);

  --dark-blue-1: rgba(8, 52, 94, 1);
  --dark-blue-2: rgba(6, 39, 71, 1);
  --dark-blue-3: rgba(4, 26, 47, 1);
  --dark-blue-4: rgba(2, 13, 24, 1);

  --green-1: rgba(58, 222, 104, 1);
  --violet-1: rgba(184, 50, 231, 1);

  font-family: InterLight;
}

html,
body {
  margin: 0;
  width: 100dvw;
  height: 100dvh;
  overflow-x: hidden;
}

body {
  background: var(--dark-blue-3);
}

#__nuxt {
  height: 100%;
  width: 100%;
}

h2{
  font-family: InterMedium;
  color: var(--blue-1)
}

p {
  font-family: InterLight;
  color:var(--gray-2);
  line-height: 22px; 
}

span{
  font-family: InterMedium;
}

span.green{
  color: var(--green-1);
}

span.violet{
  color: var(--violet-1);
}

.main-title-container {
  z-index: 2;
  left: calc(50% - 177px);
  top: 325px;
  margin: auto;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title-container h1 {
  font-size: 48px;
  background: linear-gradient(180deg, var(--blue-1) 24.14%, var(--gray-3) 87.93%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: InterSemiBold;
}

label {
  font-family: InterBold;
  color: var(--blue-1);
  padding: 2px 9px;
  width: fit-content;
}

.main-title-container label {
  border: 1px solid var(--blue-1);
  border-radius: 12px;
  background: linear-gradient(
    92deg,
    rgba(231, 243, 253, 0.2) 2.64%,
    rgba(217, 217, 217, 0) 100%
  );
}
