@font-face {
  font-family: ChakraPetch;
  src: url("../fonts/ChakraPetch-Medium.ttf");
}
@font-face {
  font-family: SourceSansPro;
  src: url("../fonts/SourceSansPro-Regular.ttf");
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

:root {
  /* HSL */
  --background: 0 0% 5%;

  --light-1: 95%;
  --light-2: 85%;
  --light-3: 75%;
  --light-4: 70%;
  --light-5: 50%;
  --light-6: 40%;
  --light-7: 30%;
  --light-8: 20%;
  --light-9: 15%;
  --light-10: 10%;
  --light-11: 8%;

  --color-1: 0 0% var(--light-1);
  --color-2: 0 0% var(--light-2);
  --color-3: 0 0% var(--light-3);
  --color-4: 0 0% var(--light-4);
  --color-5: 0 0% var(--light-5);
  --color-6: 0 0% var(--light-6);
  --color-7: 0 0% var(--light-7);
  --color-8: 0 0% var(--light-8);
  --color-9: 0 0% var(--light-9);
  --color-10: 0 0% var(--light-10);
  --color-10: 0 0% var(--light-11);
  
  font-family: ChakraPetch;
}

html,
body {
  margin: 0;
  width: 100dvw;
  height: 100dvh;
  overflow-x: hidden;
}

body {
  background: hsl(var(--background));
}

#__nuxt {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.fade-animation {
  opacity: 0;
}

.fade-animation.visible {
  animation: fade 2s forwards;
}

h1 {
  color: hsl(var(--color-1));
  font-size: 3rem;
  margin: 20px 0;
}
h2 {
  color: hsl(var(--color-3));
  font-size: 2.25rem;
  margin: 20px 0;
}

p {
  color: hsl(var(--color-4));
  font-size: 1.25rem;
  margin: 20px 0;
  font-family: SourceSansPro;
}

label{
  color: hsl(var(--color-2));
  font-size: 1rem;
}
.dark-color {
  color: hsl(var(--color-8));
}
.gradient{
  width: 400px;
  height: 400px;
  border-radius: 500px;
  filter: blur(40px);
  z-index: -1;
  position: absolute;
}

.gradient.gray{
  background: hsl(var(--color-8));
}

.gradient.dark{
  background: hsl(var(--color-9));
}





